In [1]:
import pandas as pd
from pandas_profiling import ProfileReport

df = pd.read_csv('IPL Matches Dataset 2021.csv')
#df.head()
#df.shape

df.describe()
#profile = ProfileReport(df)
#profile.to_file(output_file="covid_19_clean_complete.html")

                 id  neutral_venue  result_margin  method
count  2.100000e+01           21.0      20.000000     0.0
mean   1.254068e+06            0.0      14.100000     NaN
std    6.204837e+00            0.0      17.001238     NaN
min    1.254058e+06            0.0       2.000000     NaN
25%    1.254063e+06            0.0       6.000000     NaN
50%    1.254068e+06            0.0       8.000000     NaN
75%    1.254073e+06            0.0      10.750000     NaN
max    1.254078e+06            0.0      69.000000     NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               21 non-null     int64
 1   city             21 non-null     object
 2   date             21 non-null     object
 3   player_of_match  21 non-null     object
 4   venue            21 non-null     object
 5   neutral_venue    21 non-null     int64
 6   team1            21 non-null     object
 7   team2            21 non-null     object
 8   toss_winner      21 non-null     object
 9   toss_decision    21 non-null     object
 10  winner           21 non-null     object
 11  result           21 non-null     object
 12  result_margin    20 non-null     float64
 13  eliminator       21 non-null     object
 14  method           0 non-null      float64
 15  umpire1          21 non-null     object
 16  umpire2          21 non-null     object
dtypes: float64(2), int64(2), object(13)
memory usage: 2.9+ KB