In [3]:
import pandas as pd

In [2]:
dic={'uni':['lumhs','muet','sindh'],'degree_program':['medical','engineering','general'],'fees':[30000,32000,18000]}
print(dic)

{'uni': ['lumhs', 'muet', 'sindh'], 'degree_program': ['medical', 'engineering', 'general'], 'fees': [30000, 32000, 18000]}

Dictonary to list

In [4]:
d=pd.DataFrame(dic)
print(d)

     uni degree_program   fees
0  lumhs        medical  30000
1   muet    engineering  32000
2  sindh        general  18000

Dictonary to tuple

In [8]:
dic1={'uni':('lumhs','muet','sindh'),'degree_program':('medical','engineering','general'),'fees':(30000,32000,18000)}
d1=pd.DataFrame(dic1)
print(d1)

     uni degree_program   fees
0  lumhs        medical  30000
1   muet    engineering  32000
2  sindh        general  18000
<class 'pandas.core.frame.DataFrame'>

In [12]:
l1=[{'name':'ALi','phone':'03423987710','city':'Khipro'},{'code':11,'course':'navtacc','demand':'good'}]
d2=pd.DataFrame(l1)
print(d2)

  name        phone    city  code   course demand
0  ALi  03423987710  Khipro   NaN      NaN    NaN
1  NaN          NaN     NaN  11.0  navtacc   good

In [8]:
l2=[[1,2,3,4,5],[6,7,8,9,10]]
d3=pd.DataFrame(l2,columns=['age','count','roll_no','name','room'])
print(d3)

   age  count  roll_no  name  room
0    1      2        3     4     5
1    6      7        8     9    10

In [9]:
s=d3.iloc[0:2,0:2]
print(s)

   age  count
0    1      2
1    6      7

In [18]:
s1=d3.loc[(0:2),['ali','arain']]
print(s1)

SyntaxError: invalid syntax (559996298.py, line 1)